/* custom styles */
body {
  background-color: rgba(195, 155, 211, 1);
}

#page-wrapper {
  background-color: lightblue;
  padding: 1px;
  max-width: 80%;
  margin:auto;
}

  .self-image {
    margin: 10px auto;
    display: block;
    border-radius: 5%;
  }

  .myName {
    text-align: center;
  }


header {
  background-color: rgba(0, 0, 0, .3);
  height: 50px;
  padding:1px;;
}

  ul {
    list-style: none;
  }

  ul li{
    display: inline-block;
  }

  .headNav {
    background-color: #99e6ff;
    border: solid;
    border-width: medium;
    border-radius: 5px;
    color:white;
    text-shadow: 1px 1px 2px black;
  }

footer {
  text-align: right;
  background-color: lightgrey;
  height:200px;
}

  .allAboutMe {
    padding-top: 10px;
    margin-right: 5%;
  }

  .myWorks {
    height:1000px;
  }

  a {
    text-decoration: none;
    color: white;
}
