/* custom styles */
.self-image {
  margin: 10px auto;
  display: block;
  border-radius: 5%;
}

.myName {
  text-align: center;
}


ul {
  list-style: none;
}

nav {

  background-color: rgba(218, 247, 166, .5);

}

ul li{
  display: inline-block;
}

.headNav {
  padding:5px;
  background-color: #99e6ff;
  border: solid;
  border-width: medium;
  border-radius: 5px;
  color:white;
  text-shadow: 1px 1px 2px black;
}

footer {
  text-align: right;
  background-color: lightgrey;
  height:200px;
}

.allAboutMe {
  padding-top: 10px;
  margin-right: 5%;
}

.myWorks {
  height:1000px;
}

a {
  text-decoration: none;
  color: white;
}
